@{
    ViewBag.Title = "Lista de Itens";
    Layout = "~/Views/Shared/_layout.cshtml";
}
@model IList<Negocio.Model.Produto>

@section featured {

@using (Html.BeginForm("AddProdutoCarrinho","ListaItens"))
{
    <div id="listaItens">
        <h4 class="divTituloCategoria">Categorias</h4>

        <br />
        <hr />

        <div class="divExibirCategorias">
            <table>            
                @foreach(@Negocio.Model.Categoria categoria in ViewBag.Categoria)
                {
                    <tr>
                        <td>
                             <a href="@Url.Action("Index", "ListaItens", new { CodCategoria = @Html.DisplayFor(item => categoria._CategoriaId) })">
                                <div class="divListaCategorias">
                                    <img src="@categoria._UrlImagem" class="divBotoesCategoria" title="@categoria._Nome" />
                                </div>
                            </a>
                        </td>
                    </tr>    
                }                        
            </table>
        </div>

    </div>

    <div class="divOpcoes">
        <div>
            <div class="float-left">
                <a href="@Url.Action("Index", "Carrinho")">
                    <input type="button" id="btnVerCarrinho" name="btnVerCarrinho" value="Ver Carrinho" /></a>
            </div>

            <div class="float-left">
                <!--<a href="@Url.Action("AddProdutoCarrinho", "ListaItens")">-->                    
                    <input type="submit" id="btnComprarProdutos" name="btnComprarProdutos" value="Comprar Produtos" />
                <!--</a>-->
            </div>

            <div class="float-left">
                <a href="@Url.Action("Index", "Carrinho")">
                    <input type="button" id="btnFecharCompra" name="btnFecharCompra" value="Fechar Compras" />
                </a>
            </div>
        </div>

        <br />
        <br />
        <br />
        <br />

        <div>
            <div >
                <div class="headerListaItens listaProdutosCheckBox">  <input type="checkbox" id="marcarTodos" class="selectAll margem"  /></div>
                <div class="headerListaItens listaProdutosNome"> Nome / Descrição</div>
                <div class="headerListaItens listaProdutosPreco"> Preço R$</div>
                <div class="headerListaItens listaProdutosLink">  Apagar</div>               
               
                    @if(Model != null)
                    {
                        foreach (var model in Model)
                        {                     
                            <div class="rowProdutosCheckBox"> <input type="checkbox" class="margem" id="produto" name="produto" value="@Html.DisplayFor(item => model._ProdutoId)" /></div>
                            <div class="rowProdutosNome"> @Html.DisplayFor(item => model._Nome) / @Html.DisplayFor(item => model._Descricao)</div>
                            <div class="rowProdutosPreco"> @Html.DisplayFor(item => model._Preco)</div>
                            <div class="rowProdutosLink"> @Html.ActionLink("Comprar","AddProdutoCarrinho", new { produtoId = model._ProdutoId })</div>
                                                         
                        }                  
                    }
                    else
                    {
                            <div class="gridEmpty">Selecione uma categoria.</div>
                           
                    }
               
            </div>
        </div>
    </div>
    }
}