@{
    ViewBag.Title = "Lista de Itens";
    Layout = "~/Views/Shared/_layout.cshtml";
}
@model IList<Negocio.Model.Produto>

@section featured {

@using (Html.BeginForm("AddProdutoCarrinho","ListaItens"))
{
    <div id="listaItens">
        <h4 class="divTituloCategoria">Categorias</h4>

        <br />
        <hr />

        <div style="overflow:auto; height:335px; width:145px;">
            <table>            
                @foreach(@Negocio.Model.Categoria categoria in ViewBag.Categoria)
                {
                    <tr>
                        <td>
                             <a href="@Url.Action("Index", "ListaItens", new { CodCategoria = @Html.DisplayFor(item => categoria._CategoriaId) })">
                                <div class="divListaCategorias">
                                    <img src="@categoria._UrlImagem" class="divBotoesCategoria" title="Hortifrutigranjeiros" />
                                </div>
                            </a>
                        </td>
                    </tr>    
                }                        
            </table>
        </div>

    </div>

    <div class="divOpcoes">
        <div>
            <div class="float-left">
                <a href="@Url.Action("Index", "Carrinho")">
                    <input type="button" id="btnVerCarrinho" name="btnVerCarrinho" value="Ver Carrinho" /></a>
            </div>

            <div class="float-left">
                <!--<a href="@Url.Action("AddProdutoCarrinho", "ListaItens")">-->                    
                    <input type="submit" id="btnComprarProdutos" name="btnComprarProdutos" value="Comprar Produtos" />
                <!--</a>-->
            </div>

            <div class="float-left">
                <a href="@Url.Action("FecharCompra", "Carrinho")">
                    <input type="button" id="btnFecharCompra" name="btnFecharCompra" value="Fechar Compras" />
                </a>
            </div>
        </div>

        <br />
        <br />
        <br />
        <br />

        <div>
            <div style="overflow:auto; height:270px;">

                <div class="headerListaItens listaProdutosCheckBox"> &nbsp; <input type="checkbox" id="marcarTodos" class="selectAll"  /></div>
                <div class="headerListaItens listaProdutosNome"> &nbsp;Nome / Descrição</div>
                <div class="headerListaItens listaProdutosPreco"> &nbsp; Preço R$</div>
                <div class="headerListaItens listaProdutosLink"> &nbsp; Apagar</div>

                @*<table id="divProdutos">
                    <tr id="headerListaItens" class="headerListaItens">
                        <td class="columChkItensLista">
                            <input type="checkbox" id="marcarTodos" class="selectAll"  />
                        </td>
                        <td>Nome / Descrição</td>
                        <td>Preço R$</td>
                        <td></td>
                    </tr>*@
                    @if(Model != null)
                    {
                        foreach (var model in Model)
                        {                     
                            <div class="rowProdutosCheckBox"> &nbsp; <input type="checkbox" id="produto" name="produto" value="@Html.DisplayFor(item => model._ProdutoId)" /></div>
                            <div class="rowProdutosNome"> &nbsp; @Html.DisplayFor(item => model._Nome) / @Html.DisplayFor(item => model._Descricao)</div>
                            <div class="rowProdutosPreco"> &nbsp; @Html.DisplayFor(item => model._Preco)</div>
                            <div class="rowProdutosLink"> &nbsp; @Html.ActionLink("Comprar","AddProdutoCarrinho", new { produtoId = model._ProdutoId })</div>
                             
                            @*<tr>
                                <td class="columChkItensLista">                                
                                    <input type="checkbox" id="produto" name="produto" value="@Html.DisplayFor(item => model._ProdutoId)" />                                
                                </td>
                                <td>
                                    @Html.DisplayFor(item => model._Nome) / @Html.DisplayFor(item => model._Descricao)
                                </td>
                                <td>
                                    @Html.DisplayFor(item => model._Preco)
                                </td>
                                <td>@Html.ActionLink("Comprar","AddProdutoCarrinho", new { produtoId = model._ProdutoId })</td>
                            </tr>*@
                        }                  
                    }
                    else
                    {
                            <div class="gridEmpty">Selecione uma categoria.</div>
                            @*<tr>
                                <td class="columChkItensLista" colspan="3">                                
                                    Selecione uma categoria.
                                </td>
                            </tr>*@
                    }
                @*</table>*@
            </div>
        </div>
    </div>
    }
}