<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Carofour</title>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/Scripts/FecharCompra.js")

</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/Images/logomarca.png" id="divLogoMarca" title="Carofour - Produtos e alimentos orgânicos" /></a>
            </div>
            <div id="divTituloInicio">
                <p class="site-title">Produtos e Alimentos orgânicos</p>
            </div>
            <div class="float-right">
                <a href="#" title="Traduzir para português">Português</a>/<a href="#" title="Traduzir para espanhol">Espanhol</a>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
