<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Carofour</title>
       
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")     
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><img src="~/Images/logomarca.png" /></p>
                </div>

                <div class="float-left">
                    <p class="site-title">Produtos e Alimentos orgânicos</p>
                </div>

                <div class="float-right">                 
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Início", "Index", "Home")</li>                                                   
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)            
            @RenderBody()       
        </div>
       
        @RenderSection("scripts", required: false)
    </body>
</html>