@{
    ViewBag.Title = "Início";
}
@model IList<Negocio.Model.Categoria>

@section featured {
    <div class="divApresentacao">
        <h4 class="divTituloCategoria">Somos o Grupo Carofour, pioneiros no varejo brasileiro.</h4>

        <br />
        <hr />

        <p>Desde de 1975 no Brasil, reunimos uma equipe com mais de 70.000 colaboradores que representam a diversidade deste país. Junto com os nossos fornecedores e parceiros, estamos comprometidos em satisfazer e encantar os consumidores todos os dias, construindo a nossa história com a sociedade.</p>

        <p>Nas mais de 200 lojas e nos diferentes pontos de contatos, nos relacionamos com mais de um milhão de pessoas todos os dias.</p>

        <p>As pessoas estão no centro do nosso negócio e, por isso, estamos abertos ao aprendizado constante e a buscar uma melhor maneira em tudo que fazemos.</p>

        <p>Desde de 1975 no Brasil, reunimos uma equipe com mais de 70.000 colaboradores que representam a diversidade deste país. Junto com os nossos fornecedores e parceiros, estamos comprometidos em satisfazer e encantar os consumidores todos os dias, construindo a nossa história com a sociedade.</p>
    </div>

    <div class="divCategorias">

        <h4 class="divTituloCategoria">Categorias</h4>

        <br />
        <hr />

        @{            
            int i = 1;            
            int marginTop = 0;   
        }

        @foreach(var model in Model)
        {                                               
            string strMarginTop = marginTop + "px;";                        
            
            if((i % 2) != 0)
            {                             
                <a href="@Url.Action("Index", "ListaItens", new { CodCategoria = @Html.DisplayFor(item => model._CategoriaId) })">
                    <div class="divListaItensGeral" style="margin-left:0px; margin-top:@strMarginTop">
                        <img src="@Html.DisplayFor(item => model._UrlImagem)" class="imgCategorias" title="Hortifrutigranjeiros" />
                    </div>
                </a>
            }
            else 
            {
                <a href="@Url.Action("Index", "ListaItens", new { CodCategoria = @Html.DisplayFor(item => model._CategoriaId) })">
                    <div class="divListaItensGeral" style="margin-left:320px; margin-top:@strMarginTop">
                        <img src="@Html.DisplayFor(item => model._UrlImagem)" class="imgCategorias" title="Hortifrutigranjeiros" />
                    </div>
                </a>
                            
                //i = 1;
                marginTop += 120;
            }

            i++;
        }       
    </div>

}

