@{
    ViewBag.Title = "Dados do Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IList<Negocio.Model.Produto>

@section featured {
    <div class="divTituloPedido">
        <span class="divFinalPedido">Pedido Realizado com Sucesso.</span>

        <br />

        <span class="divFinalPedido">Número do Pedido:</span> <span class="divNumPedido"><span>@ViewBag.NumPedido</span></span>

    </div>

    <div id="divItensPedidos" class="divDadosPedido">

        <div class="headerProdNome">Produto</div>
        <div class="headerProdDescricao">Descrição</div>
        <div class="headerProdQtde">Qtde</div>


        @foreach (var model in Model)
        {
            <div class="rowProdNome">@Html.DisplayFor(item => model._Nome)</div>
            <div class="rowProdDescricao">@Html.DisplayFor(item => model._Descricao)</div>
            <div class="rowProdQtde">@Html.DisplayFor(item => model._Quantidade)</div>
               
        }

    </div>

    <div id="divDadosCliente" class="divDadosPedido">
        <div class="headerClienteNome">Cliente: <span class="">@ViewBag.NomeCompleto</span> </div>
        <div class="headerClienteEndereco">Endereço: <span class="">@ViewBag.Endereco</span> </div>
        <div class="headerClienteTelefone">Telefone: <span class="">@ViewBag.Telefone</span> </div>
        <div class="headerClienteEmail">E-mail:  <span class="">@ViewBag.Email</span> </div>
        <div class="headerClienteValorTotal">Valor Total:  <span class="">@ViewBag.ValorTotal</span> </div>
         <div class="headerClienteValorTotal">Forma de pagamento:  <span class="">@ViewBag.FormaPagamento</span> </div>
    </div>
}
